<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav') %>

    <h1>Welcome to <%= title %></h1>
    <% allMessages.forEach(function(message){ %>
      <% if(currentUser && currentUser.status !== 'guest') {%>
        <h2><%= message.title %></h2>
        <p><%= message.created_at %></p>
        <p><%= message.username %></p>
      <% } %>
      <p><%= message.text %></p>
    <% }); %>
  </body>
</html>